<form [formGroup]="accountForm">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]=" [ '/employees', 'homw' ] ">Employee</a></li>
          <li class="breadcrumb-item"><a href="#">Employee</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Debit cards
          </li>
        </ol>
      </nav>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="row">
        <label for="accountNo" class="col-form-label col-lg-6">Account No:</label>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-8"><input type="text" placeholder="Account Number" class="form-control" id="accountNo" formControlName="accountNo" [ngClass]="getFormControlCssClass(accountForm.get('accountNo'), accountForm)" /></div>
            <div class="col-sm-9 col-md-6 col-lg-4">
              <button type="submit" class="btn btn-success" (click)="onOkClick($event)">
                OK
              </button>
            </div>
          </div>
          <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('accountNo', 'required', accountForm)">{{getFormControlErrorMessage('accountNo', 'required')}}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-lg-6 mt-2" *ngIf="showCustomerDetails">

      <div class="card">
        <div class="card-header">
          Customer Details
        </div>
        <div class="card-body">
          <div class="form-group form-row">
            <label for="customerName" class="col-form-label col-md-4">Customer Name:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Customer Name" readonly="readonly" class="form-control-plaintext" id="customerName" formControlName="customerName" />
            </div>
          </div>
          <div class="form-group form-row">
            <label for="customerMobile" class="col-form-label col-md-4">Customer Mobile:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Customer Mobile" readonly="readonly" class="form-control-plaintext" id="customerMobile" formControlName="customerMobile" />
            </div>
          </div>
          <div class="form-group form-row">
            <label for="branchName" class="col-form-label col-md-4">Branch Name:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Branch Name" readonly="readonly" class="form-control-plaintext" id="branchName" formControlName="branchName" />
            </div>
          </div>
        </div>
      </div>


    </div>




    <div class="col-lg-6 mt-2" *ngIf="showBlockedDebitCardHistory">

      <div class="card">
        <div class="card-header">
          Blocked Debitcard history
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr class="table-secondary">
                <th>Card number</th>
                <th>Card type</th>
                <th>Card status</th>
                <th>Expiry date</th>
                <th>Created on</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let blockeddebitcard of blockeddebitcards; let i = index">

                <td style="font-size:120%">{{blockeddebitcard.cardNumber}}</td>
                <td>{{blockeddebitcard.cardType}}</td>
                <td>{{blockeddebitcard.cardStatus}}</td>
                <td>{{blockeddebitcard.expiryDate}}</td>
                <td>{{blockeddebitcard.cardIssueDate}}</td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>

  </div>

  <div class="row">
    <div class="col-lg-6" *ngIf="showNewDebitCard">

      <div class="card">
        <div class="card-header">
          New Debit Card Request
        </div>
        <div class="card-body">
          <div class="form-group form-row">
            <label for="customerNameAsPerCard" class="col-form-label col-md-4">Customer Name On Card:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Name on card" class="form-control" id="customerNameAsPerCard" formControlName="customerNameAsPerCard" [ngClass]="getFormControlCssClass(accountForm.get('customerNameAsPerCard'), accountForm)" />
              <small class="form-text text-muted">Name on the card</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerNameAsPerCard', 'required', accountForm)">{{getFormControlErrorMessage('customerNameAsPerCard', 'required')}}</span>
              
            </div>
          </div>
          <div class="form-group form-row">
            <label for="cardType" class="col-form-label col-md-4">Card Type: </label>
            <div class="col-md-8">
              <select class="form-control" style="width:100%" id="cardType" formControlName="cardType" [ngClass]="getFormControlCssClass(accountForm.get('cardType'), accountForm)">

                <option value="Rupay">Rupay</option>
                <option value="Visa">Visa</option>
                <option value="Master">Master</option>
                <option value="Maestro">Maestro</option>
              </select>
              <small class="form-text text-muted">Select type of card </small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('cardType', 'required', accountForm)">{{getFormControlErrorMessage('cardType', 'required')}}</span>

            </div>
          </div>
          <div class="form-group form-row">
            <button type="button" class="btn btn-secondary" id="btnAddDebitCardCancel">
              <i class="fa fa-times-circle"></i> Cancel
            </button>
            <button type="submit" class="btn btn-success" (click)="onAddDebitCardClick($event)" [disabled]="newDebitCardDisabled">
              <span *ngIf="!newChequeBookDisabled"><i class="fa fa-save"></i> Save</span>
              <span *ngIf="newChequeBookDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Saving</span>
            </button>
          </div>
        </div>
      </div>


    </div>




    <div class="col-lg-6" *ngIf="showIssuedDebitCardHistory">

      <div class="card">
        <div class="card-header">
          Issued debit card history
        </div>
        <div class="card-body">
          <table class="table mt-2">
            <thead>
              <tr class="table-secondary">

                <th>Card number</th>
                <th>Card type</th>
                <th>Card status</th>
                <th>Expiry date</th>
                <th>Created on</th>
                <th class="text-secondary">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let issueddebitcard of issueddebitcards; let i = index">
                <td style="font-size:120%">{{issueddebitcard.cardNumber}}</td>
                <td>{{issueddebitcard.cardType}}</td>
                <td>{{issueddebitcard.cardStatus}}</td>
                <td>{{issueddebitcard.expiryDate}}</td>
                <td>{{issueddebitcard.cardIssueDate}}</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-secondary" (click)="onBlockDebitCardClick(i)">
                     Block
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>


</form>



