
<!--Created by Asmita Chandrakar-->

<div class="row">
  <div class="col-md-3 col-lg-2 ml-0 pl-0 pt-0 pr-0 border-right left-menu">
    <div class="p-2">
      <h5>
        Customers <span class="badge badge-secondary float-right" *ngIf="customers.length > 0">{{customers.length}}</span>
      </h5>
    </div>
    <div class="list-group mb-5">
      <a class="list-group-item list-group-item-action list-group-item-primary" data-toggle="modal" href="#newCustomerModal" (click)="onCreateCustomerClick()">Create Customer</a>
    </div>
    <div class="p-2 border-top"><h5>View</h5></div>
    <div class="px-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewID" [(ngModel)]="viewCustomerCheckBoxes.id">
        <label class="form-check-label" for="viewID">
          ID
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewCustomerName" [(ngModel)]="viewCustomerCheckBoxes.customerName">
        <label class="form-check-label" for="viewCustomerName">
          Customer Name
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewCustomerNumber" [(ngModel)]="viewCustomerCheckBoxes.customerNumber">
        <label class="form-check-label" for="viewCustomerNumber">
          Customer Number
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewCustomerID" [(ngModel)]="viewCustomerCheckBoxes.customerID">
        <label class="form-check-label" for="viewCustomerID">
          Customer ID
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewCustomerAddress" [(ngModel)]="viewCustomerCheckBoxes.customerAddress">
        <label class="form-check-label" for="viewCustomerAddress">
          Customer Address
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="view" [(ngModel)]="viewCustomerCheckBoxes.panNumber">
        <label class="form-check-label" for="viewPANNumber">
          PAN number
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="view" [(ngModel)]="viewCustomerCheckBoxes.aadharNumber">
        <label class="form-check-label" for="viewAadharNumber">
          Aadhar number
        </label>
      </div>


      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="view" [(ngModel)]="viewCustomerCheckBoxes.customerGender">
        <label class="form-check-label" for="viewCustomerGender">
          Customer Gender
        </label>
      </div>


      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="view" [(ngModel)]="viewCustomerCheckBoxes.customerDOB">
        <label class="form-check-label" for="viewCustomerDOB">
          Customer DOB
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewMobile" [(ngModel)]="viewCustomerCheckBoxes.mobile">
        <label class="form-check-label" for="viewMobile">
          Mobile
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewEmail" [(ngModel)]="viewCustomerCheckBoxes.email">
        <label class="form-check-label" for="viewEmail">
          Email
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewCreatedOn" [(ngModel)]="viewCustomerCheckBoxes.createdOn">
        <label class="form-check-label" for="viewCreatedOn">
          Created On
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewLastModifiedOn" [(ngModel)]="viewCustomerCheckBoxes.lastModifiedOn">
        <label class="form-check-label" for="viewLastModifiedOn">
          Last Modified On
        </label>
      </div>
      <div class="form-group my-2">
        <button class="btn btn-secondary btn-sm mr-1" (click)="onViewSelectAllClick()">Select All</button>
        <button class="btn btn-secondary btn-sm" (click)="onViewDeselectAllClick()">Deselect All</button>
      </div>
    </div>

    <div class="p-2 border-top mt-4"><h5>Sort by</h5></div>
    <div class="px-2">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="sortBy">
          <option value="customerName">Customer Name</option>
          <option value="customerNumber">Customer Number</option>
          <!--<option value="customerMobile">Mobile</option>
          <option value="email">Email</option>-->
          <option value="creationDateTime">Created On</option>
          <option value="lastModifiedDateTime">Last Modified On</option>
        </select>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="sortAscending" value="ASC" [(ngModel)]="sortDirection">
        <label class="form-check-label" for="sortAscending">
          Ascending
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="sortDescending" value="DESC" [(ngModel)]="sortDirection">
        <label class="form-check-label" for="sortDescending">
          Descending
        </label>
      </div>
      <div class="form-group my-2">
        <button class="btn btn-secondary btn-sm mr-1 px-3" (click)="onBtnSortClick()">Sort</button>
      </div>
    </div>
  </div>

  <div class="col-md-9 col-lg-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Employee</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Customers
          <i class="fa fa-circle-o-notch  fa-spin" *ngIf="showCustomersSpinner"></i>
        </li>
      </ol>
    </nav>
    <!--New customernumber {{newCustomerNumber}}-->
    <!--<h4>Customers </h4>-->
    <!--<button class="btn btn-primary" data-toggle="modal" data-target="#newCustomerModal" (click)="onCreateCustomerClick()">Create Customer</button>-->

    <!--View table consisting of all columns-->
    <div style="width:100%;overflow:auto;">
      <table class="table mt-2">
        <thead>
          <tr class="table-secondary">
            <th *ngIf="viewCustomerCheckBoxes.id">ID</th>
            <th *ngIf="viewCustomerCheckBoxes.customerName">Customer Name</th>
            <th *ngIf="viewCustomerCheckBoxes.customerNumber">Customer Number</th>
            <th *ngIf="viewCustomerCheckBoxes.customerID">Customer ID</th>
            <th *ngIf="viewCustomerCheckBoxes.customerAddress">Address</th>
            <th *ngIf="viewCustomerCheckBoxes.panNumber">PAN Number</th>
            <th *ngIf="viewCustomerCheckBoxes.aadharNumber">Aadhar Number</th>
            <th *ngIf="viewCustomerCheckBoxes.customerGender">Gender</th>
            <th *ngIf="viewCustomerCheckBoxes.customerDOB">Customer DOB</th>
            <th *ngIf="viewCustomerCheckBoxes.mobile">Mobile</th>
            <th *ngIf="viewCustomerCheckBoxes.email">Email</th>
            <th *ngIf="viewCustomerCheckBoxes.createdOn">Created on</th>
            <th *ngIf="viewCustomerCheckBoxes.lastModifiedOn">Last Modified on</th>
            <th class="text-secondary">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers; let index = index">
            <td *ngIf="viewCustomerCheckBoxes.id">{{customer.id}}</td>
            <td *ngIf="viewCustomerCheckBoxes.customerName">{{customer.customerName}}</td>
            <td *ngIf="viewCustomerCheckBoxes.customerNumber">{{customer.customerNumber}}</td>
            <td *ngIf="viewCustomerCheckBoxes.customerID">{{customer.customerID}}</td>
            <td *ngIf="viewCustomerCheckBoxes.customerAddress">{{customer.customerAddress}}</td>
            <td *ngIf="viewCustomerCheckBoxes.panNumber">{{customer.panNumber}}</td>
            <td *ngIf="viewCustomerCheckBoxes.aadharNumber">{{customer.aadharNumber}}</td>
            <td *ngIf="viewCustomerCheckBoxes.customerGender">{{customer.customerGender}}</td>
            <td *ngIf="viewCustomerCheckBoxes.customerDOB">{{customer.customerDOB}}</td>
            <td *ngIf="viewCustomerCheckBoxes.mobile">{{customer.customerMobile}}</td>
            <td *ngIf="viewCustomerCheckBoxes.email">{{customer.email}}</td>
            <td *ngIf="viewCustomerCheckBoxes.createdOn">{{customer.creationDateTime}}</td>
            <td *ngIf="viewCustomerCheckBoxes.lastModifiedOn">{{customer.lastModifiedDateTime}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-secondary" data-toggle="modal" data-target="#editCustomerModal" (click)="onEditCustomerClick(index)">Edit</button>
                <!--<button class="btn btn-danger" data-toggle="modal" data-target="#deleteCustomerModal" (click)="onDeleteCustomerClick(index)">Delete</button>-->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- New Customer Modal -->
<form [formGroup]="newCustomerForm">
  <div class="modal fade" id="newCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Create Customer</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group form-row">
            <label for="customerName" class="col-form-label col-md-4">Customer Name: *</label>
            <div class="col-md-8">
              <input type="text" placeholder="Customer Name" class="form-control" id="customerName" formControlName="customerName" [ngClass]="getFormControlCssClass(newCustomerForm.get('customerName'), newCustomerForm)" />
              <small class="form-text text-muted">Name of the Customer | Can't be duplicate.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerName', 'required', newCustomerForm)">{{getFormControlErrorMessage('customerName', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerName', 'minlength', newCustomerForm)">{{getFormControlErrorMessage('customerName', 'minlength')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerName', 'maxlength', newCustomerForm)">{{getFormControlErrorMessage('customerName', 'maxlength')}}</span>
            </div>
          </div>
          <div class="form-group form-row">
            <label for="customerMobile" class="col-form-label col-md-4">Mobile:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Mobile" class="form-control" id="customerMobile" formControlName="customerMobile" [ngClass]="getFormControlCssClass(newCustomerForm.get('customerMobile'), newCustomerForm)" />
              <small class="form-text text-muted">10 digit mobile number of the customer | Can't be duplicate.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerMobile', 'required', newCustomerForm)">{{getFormControlErrorMessage('customerMobile', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerMobile', 'pattern', newCustomerForm)">{{getFormControlErrorMessage('customerMobile', 'pattern')}}</span>
            </div>
          </div>
          <div class="form-group form-row">
            <label for="customerAddress" class="col-form-label col-md-4">Address:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Address" class="form-control" id="customerAddress" formControlName="customerAddress" [ngClass]="getFormControlCssClass(newCustomerForm.get('customerAddress'), newCustomerForm)" />
              <small class="form-text text-muted">Address of the customer </small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerAddress', 'required', newCustomerForm)">{{getFormControlErrorMessage('customerAddress', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerAddress', 'pattern', newCustomerForm)">{{getFormControlErrorMessage('customerAddress', 'pattern')}}</span>
            </div>
          </div>
          <!--<div class="form-group form-row">
    <label for="customerMobile" class="col-form-label col-md-4">Mobile:</label>
    <div class="col-md-8">
      <input type="text" placeholder="Mobile" class="form-control" id="customerMobile" formControlName="customerMobile" [ngClass]="getFormControlCssClass(newCustomerForm.get('customerMobile'), newCustomerForm)" />
      <small class="form-text text-muted">10 digit mobile number of the customer | Can't be duplicate.</small>
      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerMobile', 'required', newCustomerForm)">{{getFormControlErrorMessage('customerMobile', 'required')}}</span>
      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerMobile', 'pattern', newCustomerForm)">{{getFormControlErrorMessage('customerMobile', 'pattern')}}</span>
    </div>
  </div>
  <div class="form-group form-row">
    <label for="customerMobile" class="col-form-label col-md-4">Mobile:</label>
    <div class="col-md-8">
      <input type="text" placeholder="Mobile" class="form-control" id="customerMobile" formControlName="customerMobile" [ngClass]="getFormControlCssClass(newCustomerForm.get('customerMobile'), newCustomerForm)" />
      <small class="form-text text-muted">10 digit mobile number of the customer | Can't be duplicate.</small>
      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerMobile', 'required', newCustomerForm)">{{getFormControlErrorMessage('customerMobile', 'required')}}</span>
      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerMobile', 'pattern', newCustomerForm)">{{getFormControlErrorMessage('customerMobile', 'pattern')}}</span>
    </div>
  </div>-->
          <div class="form-group form-row">
            <label for="email" class="col-form-label col-md-4">Email:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Email" class="form-control" id="email" formControlName="email" [ngClass]="getFormControlCssClass(newCustomerForm.get('email'), newCustomerForm)" />
              <small class="form-text text-muted">Email ID of the customer | Can't be duplicate.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('email', 'required', newCustomerForm)">{{getFormControlErrorMessage('email', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('email', 'email', newCustomerForm)">{{getFormControlErrorMessage('email', 'email')}}</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="aadharNumber" class="col-form-label col-md-4">Aadhar Number:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Aadhar Number" class="form-control" id="aadharNumber" formControlName="aadharNumber" [ngClass]="getFormControlCssClass(newCustomerForm.get('aadharNumber'), newCustomerForm)" />
              <small class="form-text text-muted">Aadhar Number of the customer | Can't be duplicate.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('aadharNumber', 'required', newCustomerForm)">{{getFormControlErrorMessage('aadharNumber', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('aadharNumber', 'aadharNumber', newCustomerForm)">{{getFormControlErrorMessage('aadharNumber', 'aadharNumber')}}</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="panNumber" class="col-form-label col-md-4">PAN Number:</label>
            <div class="col-md-8">
              <input type="text" placeholder="PAN Number" class="form-control" id="panNumber" formControlName="panNumber" [ngClass]="getFormControlCssClass(newCustomerForm.get('panNumber'), newCustomerForm)" />
              <small class="form-text text-muted">PAN Number of the customer | Can't be duplicate.</small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('panNumber', 'required', newCustomerForm)">{{getFormControlErrorMessage('panNumber', 'required')}}</span>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('panNumber', 'panNumber', newCustomerForm)">{{getFormControlErrorMessage('panNumber', 'panNumber')}}</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="customerDOB" class="col-form-label col-md-4">Customer DOB:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Date of birth (dd/mm/yyyy)" class="form-control" id="customerDOB" formControlName="customerDOB" [ngClass]="getFormControlCssClass(newCustomerForm.get('customerDOB'), newCustomerForm)" />
              <small class="form-text text-muted">DOB of the customer (in dd/mm/yyyy format) </small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerDOB', 'required', newCustomerForm)">{{getFormControlErrorMessage('customerDOB', 'required')}}</span>
              <!--<span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerDOB', 'customerDOB', newCustomerForm)">{{getFormControlErrorMessage('customerDOB', 'customerDOB')}}</span>-->
            </div>
          </div>

          <div class="form-group form-row">
            <label for="customerGender" class="col-form-label col-md-4">Customer Gender: </label>
            <div class="col-md-8">

              <select class="form-control" style="width:100%" id="customerGender" formControlName="customerGender" [ngClass]="getFormControlCssClass(newCustomerForm.get('customerGender'), newCustomerForm)">

                <!--<option value="Select Category">Customer Gender </option>-->
                <option value="Male">Male </option>
                <option value="Female">Female</option>
                <option value="TransGender">TransGender</option>

              </select>
              <small class="form-text text-muted">Customer Gender </small>
              <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerGender', 'required', newCustomerForm)">{{getFormControlErrorMessage('customerGender', 'required')}}</span>
            </div>
          </div>
          <!--<div class="form-group form-row">
      <label for="password" class="col-form-label col-md-4">Password:</label>
      <div class="col-md-8">
        <input type="password" placeholder="Password" class="form-control" id="password" formControlName="password" [ngClass]="getFormControlCssClass(newSupplierForm.get('password'), newSupplierForm)" />
        <small class="form-text text-muted">At least one uppercase letter, one lowercase letter and one digit.</small>

        <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('password', 'required', newSupplierForm)">{{getFormControlErrorMessage('password', 'required')}}</span>

        <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('password', 'pattern', newSupplierForm)">{{getFormControlErrorMessage('password', 'pattern')}}</span>
      </div>
    </div>

  </div>-->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnAddCustomerCancel">
              <i class="fa fa-times-circle"></i> Cancel
            </button>
            <button type="submit" class="btn btn-success" (click)="onAddCustomerClick($event)" [disabled]="newCustomerDisabled">
              <span *ngIf="!newCustomerDisabled"><i class="fa fa-save"></i> Save</span>
              <span *ngIf="newCustomerDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Saving</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


        <!-- Edit Customer Modal -->
        <form [formGroup]="editCustomerForm">
          <div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header bg-info text-white">
                  <h5 class="modal-title">Update Customer</h5>
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group form-row">
                    <label for="customerName" class="col-form-label col-md-4">customer Name:</label>
                    <div class="col-md-8">
                      <input type="text" placeholder="customer Name" class="form-control" id="customerName" formControlName="customerName" [ngClass]="getFormControlCssClass(editCustomerForm.get('customerName'), editCustomerForm)" />
                      <small class="form-text text-muted">Name of the customer | Can't be duplicate.</small>
                      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerName', 'required', editCustomerForm)">{{getFormControlErrorMessage('customerName', 'required')}}</span>
                      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerName', 'minlength', editCustomerForm)">{{getFormControlErrorMessage('customerName', 'minlength')}}</span>
                      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerName', 'maxlength', editCustomerForm)">{{getFormControlErrorMessage('customerName', 'maxlength')}}</span>
                    </div>
                  </div>


                  <div class="form-group form-row">
                    <label for="customerAddress" class="col-form-label col-md-4">customer Address:</label>
                    <div class="col-md-8">
                      <input type="text" placeholder="customer Address" class="form-control" id="customerAddress" formControlName="customerAddress" [ngClass]="getFormControlCssClass(editCustomerForm.get('customerAddress'), editCustomerForm)" />
                      <small class="form-text text-muted">Address of the customer.</small>
                      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerAddress', 'required', editCustomerForm)">{{getFormControlErrorMessage('customerAddress', 'required')}}</span>
                      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerAddress', 'minlength', editCustomerForm)">{{getFormControlErrorMessage('customerAddress', 'minlength')}}</span>
                      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerAddress', 'maxlength', editCustomerForm)">{{getFormControlErrorMessage('customerAddress', 'maxlength')}}</span>
                    </div>
                  </div>


                  <div class="form-group form-row">
                    <label for="customerMobile" class="col-form-label col-md-4">Mobile:</label>
                    <div class="col-md-8">
                      <input type="text" placeholder="Mobile" class="form-control" id="customerMobile" formControlName="customerMobile" [ngClass]="getFormControlCssClass(editCustomerForm.get('customerMobile'), editCustomerForm)" />
                      <small class="form-text text-muted">10 digit mobile number of the customer | Can't be duplicate.</small>
                      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerMobile', 'required', editCustomerForm)">{{getFormControlErrorMessage('customerMobile', 'required')}}</span>
                      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('customerMobile', 'pattern', editCustomerForm)">{{getFormControlErrorMessage('customerMobile', 'pattern')}}</span>
                    </div>
                  </div>
                  <div class="form-group form-row">
                    <label for="email" class="col-form-label col-md-4">Email:</label>
                    <div class="col-md-8">
                      <input type="text" placeholder="Email" class="form-control" id="email" formControlName="email" [ngClass]="getFormControlCssClass(editCustomerForm.get('email'), editCustomerForm)" />
                      <small class="form-text text-muted">Email id of the customer | Can't be duplicate.</small>
                      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('email', 'required', editCustomerForm)">{{getFormControlErrorMessage('email', 'required')}}</span>
                      <span class="text-danger" *ngIf="getCanShowFormControlErrorMessage('email', 'email', editCustomerForm)">{{getFormControlErrorMessage('email', 'email')}}</span>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnUpdateCustomerCancel">
                    <i class="fa fa-times-circle"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-success" (click)="onUpdateCustomerClick($event)" [disabled]="editCustomerDisabled">
                    <span *ngIf="!editCustomerDisabled"><i class="fa fa-save"></i> Save</span>
                    <span *ngIf="editCustomerDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Saving</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>


        <!-- Delete customer Modal -->
        <!--<form [formGroup]="deletecustomerForm">
          <div class="modal fade" id="deletecustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-info text-white">
                  <h5 class="modal-title">Delete customer</h5>
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <h5 class="mb-4">Are you sure to delete this customer?</h5>

                  <div class="form-group form-row">
                    <label for="customerName" class="col-form-label col-md-4">customer Name:</label>
                    <div class="col-md-8">
                      <input type="text" placeholder="customer Name" readonly="readonly" class="form-control-plaintext" id="customerName" formControlName="customerName" />
                    </div>
                  </div>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnDeletecustomerCancel">
                    <i class="fa fa-times-circle"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-danger" (click)="onDeletecustomerConfirmClick($event)" [disabled]="deletecustomerDisabled">
                    <span *ngIf="!deletecustomerDisabled"><i class="fa fa-save"></i> Delete</span>
                    <span *ngIf="deletecustomerDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Deleting</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>-->

